#
# Project specific excludes
#


#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.log
*.aux
*.out
*.toc
*.bbl
*.blg
*.class
*.validation-report.txt 
*.cmap
*.svrlt
*.gvd
*.fdb_latexmk
*.fls
*.gz
*.pdf
*.zip
*.html
*.pyc
draft-background.*
# Maven 
target/
*.synctex*
*.pdf
*.org
# eclipse project file
.settings/
.classpath
.project
.pydevproject
.pytest_cache

# OS
.DS_Store
Pipfile
# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag

schema_ns